	<form action="/createPost" method="post">
		<div class="url">
		  	title: <input type="text" name="title">
		</div>
		<div class="url">
		  	url: <input type="text" name="url">
		</div>

		<div class="titledate">
	  		When do you want to finish this by?<br />
	  		<input type="date" name="endDate" value="2015-04-11"><br />
	  	</div>

	  <input type="submit" value="Create Task">
	</form>

	<script src="jquery.serialize-object.min.js"></script>
	<script>
		$('form').submit(function(e) {
			console.log($(this).serializeObject());

			var postData = $(this).serializeObject();
			if(postData.url.indexOf('http://') === -1) {
				postData.url = 'http://' + postData.url;
			}

			$.post( "/createPost", postData, function() {
				getLatest();
			});
 
			e.preventDefault();
		});
	</script>