<% include header %>


<div class="wrapper">

	<form action="/createPost" method="post">
	  title: <input type="text" name="title"><br>
	  url: <input type="text" name="url"><br>
	  date: <input type="date" name="endDate" value="2015-04-11"><br>
	  <input type="submit" value="Submit">
	</form>

	<script src="jquery.serialize-object.min.js"></script>
	<script>
		$('form').submit(function(e) {
			console.log($(this).serializeObject());

			$.post( "/createPost", $(this).serializeObject(), function() {
				window.location = "/";
			});
 
			e.preventDefault();
		});
	</script>
</div>


<% include footer %>