	<form action="/createPost" method="post">
		<div class="url">
		  	title: <input type="text" name="title">
		</div>
		<div class="url">
		  	url: <input type="text" name="url">
		</div>

		<div class="titledate">
	  		When do you want to finish this by?<br />
	  		<input type="date" name="endDate" value="2015-04-11"><br />
	  	</div>

	  <input type="submit" value="Create Task">
	</form>

	<script src="jquery.serialize-object.min.js"></script>
	<script>
		function parseUri (str) {
			var	o   = parseUri.options,
				m   = o.parser[o.strictMode ? "strict" : "loose"].exec(str),
				uri = {},
				i   = 14;

			while (i--) uri[o.key[i]] = m[i] || "";

			uri[o.q.name] = {};
			uri[o.key[12]].replace(o.q.parser, function ($0, $1, $2) {
				if ($1) uri[o.q.name][$1] = $2;
			});

			return uri;
		};

		parseUri.options = {
			strictMode: false,
			key: ["source","protocol","authority","userInfo","user","password","host","port","relative","path","directory","file","query","anchor"],
			q:   {
				name:   "queryKey",
				parser: /(?:^|&)([^&=]*)=?([^&]*)/g
			},
			parser: {
				strict: /^(?:([^:\/?#]+):)?(?:\/\/((?:(([^:@]*)(?::([^:@]*))?)?@)?([^:\/?#]*)(?::(\d*))?))?((((?:[^?#\/]*\/)*)([^?#]*))(?:\?([^#]*))?(?:#(.*))?)/,
				loose:  /^(?:(?![^:@]+:[^:@\/]*@)([^:\/?#.]+):)?(?:\/\/)?((?:(([^:@]*)(?::([^:@]*))?)?@)?([^:\/?#]*)(?::(\d*))?)(((\/(?:[^?#](?![^?#\/]*\.[^?#\/.]+(?:[?#]|$)))*\/?)?([^?#\/]*))(?:\?([^#]*))?(?:#(.*))?)/
			}
		};


		$('form').submit(function(e) {
			console.log($(this).serializeObject());

			var postData = $(this).serializeObject();
			if(postData.url.indexOf('http://') === -1) {
				postData.url = 'http://' + postData.url;
			}

			$.post( "/createPost", postData, function() {
				getLatest();
			});
 
			e.preventDefault();
		});

		$('#getImages').click(function(e) {
			var url = $('#createUrl').val();

			if(url.indexOf('http://') === -1) {
				url = 'http://' + url;
			}

			$.post( "/getImages", url, function(data) {
				console.log(data);
				var urlObj = parseUri(url);

				var finalList = [];

				for(var i = 0; i < data.length; i++) {
					var obj = parseUri(data[i]);

					// var finalImgUrl = '';
					// if(!obj.protocol) {
					// 	finalImgUrl += urlObj.protocol;
					// } else {
					// 	finalImgUrl += obj.protocol;
					// }

					// finalImgUrl += '://';

					// if(!obj.host) {
					// 	finalImgUrl += urlObj.host;
					// } else {
					// 	finalImgUrl += obj.host;
					// }

					// finalImgUrl += obj.relative;

					var finalImgUrl = data[i];
					if(data[i].indexOf('.com') === -1) {
						if(data[i][0] === '/') {
							finalImgUrl = urlObj.protocol + '://' + urlObj.host + data[i];
						} else {
							continue;
						}
					}

					finalList.push(finalImgUrl);
				}

				console.log(finalList);
			});
			e.preventDefault();
		})
	</script>