	<form action="/createPost" method="post">
	  title: <input type="text" name="title"><br>
	  url: <input type="text" name="url"><br>
	  date: <input type="date" name="endDate" value="2015-04-11"><br>
	  <input type="submit" value="Create Task">
	</form>

	<script src="jquery.serialize-object.min.js"></script>
	<script>
		$('form').submit(function(e) {
			console.log($(this).serializeObject());

			var postData = $(this).serializeObject();
			if(postData.url.indexOf('http://') === -1) {
				postData.url = 'http://' + postData.url;
			}

			$.post( "/createPost", postData, function() {
				getLatest();
			});
 
			e.preventDefault();
		});
	</script>