<% include header %>

<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<a href="/auth/google">Login with Google</a>
<% } else { %>
	<h2>Welcome back, <%= user.displayName %>.</h2>
<% } %>

<div class="calendar">

</div>
<script type="text/javascript">
  var cal = new Calendar();
  cal.generateHTML();
  //document.write(cal.getHTML());
  $('div.calendar').html(cal.getHTML());
</script>

<% include footer %>
