<% include header %>


<div class="wrapper">

	<% if (!user) { %>
		<h2>Welcome! Please log in.</h2>
		<a href="/auth/google">Login with Google</a>
	<% } else { %>
		<h2>Welcome back, <%= user.displayName %>.</h2>
		<!-- <h3><a href="/createPost">New Dragin</a></h3> -->
		
		<div class="createNew">
			<% include createPost %>
		</div>

<!-- 		<h3>
			<a id="prevMonth" href="#">Prev</a>
			<a id="nextMonth" href="#">Next</a>
		</h3> -->

		<div class="parallax">
			<div class="calendar"></div>
			<div class="tasks">
				<a href="">Go to Completed<br />Tasks</a>
			</div>
		</div>

		<script src="index.js"></script>
	<% } %>

</div>


<% include footer %>
