<% include header %>


<div class="wrapper">

	<h1>
		<img src="/dragin.gif" style="width:400px;padding:0px 0px 5px;"/>
	</h1>

	<% if (!user) { %>
		<h2>Welcome! Please log in.</h2>
		<a href="/auth/google">Login with Google</a>
	<% } else { %>
		<h2 class="loggedin">Welcome, <%= user.displayName %>.</h2>
		<!-- <h3><a href="/createPost">New Dragin</a></h3> -->
		
		<div class="createNew">
			<% include createPost %>
		</div>

		<div class="parallax">

			<div class="prevnext">
				<a id="prevMonth" href="#">&laquo;</a><a id="nextMonth" href="#">&raquo;</a>
			</div>

			<div class="calendar"></div>
			<div class="tasks">
				<a href="/taskboard.html">Go to <br />Completed Tasks &raquo;</a>
			</div>
		</div>

		<div class="trash">
			<span style="display:inline-block;">
				<span class="fail">
					March 31, 2015<br />
					<span style="color:red;">Learn Spanish</span>
				</span>	
				<img src="/paper1.png" />
			</span>
			<span style="display:inline-block;">
				<span class="fail">
					April 1, 2015<br />
					<span style="color:red;">Travel to SanDiego</span>
				</span>
				<img src="/paper2.png" />
			</span>
			<span style="display:inline-block;">
				<span class="fail">
					April 2, 2015<br />
					<span style="color:red;">Eat Sushi</span>
				</span>
				<img src="/paper3.png" />
			</span>
			<span style="display:inline-block;">
				<span class="fail">
					April 3, 2015<br />
					<span style="color:red;">Make Pork Chops</span>
				</span>
				<img src="/paper1.png" />
			</span>
			<span style="display:inline-block;">
				<span class="fail">
					April 3, 2015<br />
					<span style="color:red;">Play with Children</span>
				</span>
				<img src="/paper2.png" />
			</span>
			<span style="display:inline-block;">
				<span class="fail">
					April 4, 2015<br />
					<span style="color:red;">Make a bracelet</span>
				</span>
				<img src="/paper3.png" />
			</span>
 			<span style="display:inline-block;">
				<span class="fail">
					April 6, 2015<br />
					<span style="color:red;">Send a Thank you note</span>
				</span>
				<img src="/paper1.png" />
			</span>
<!-- 			<span>
				<span class="fail">
					March 31, 2015<br />
					<span style="color:red;">Learn Spanish</span>
				</span>
				<img src="/paper2.png" />
			</span> -->
		</div>

		<script src="index.js"></script>
	<% } %>


	<p class="text-center text-muted">© Copyright 2015 DRAGIN</p>
</div>


<% include footer %>
