/* FONTS */

@font-face {
    font-family: 'silkscreenbold';
    src: url('fonts/slkscrb-webfont.woff2') format('woff2'),
         url('fonts/slkscrb-webfont.woff') format('woff'),
         url('fonts/slkscrb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'silkscreennormal';
    src: url('fonts/slkscr-webfont.woff2') format('woff2'),
         url('fonts/slkscr-webfont.woff') format('woff'),
         url('fonts/slkscr-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'silkscreen_expandednormal';
    src: url('fonts/slkscre-webfont.woff2') format('woff2'),
         url('fonts/slkscre-webfont.woff') format('woff'),
         url('fonts/slkscre-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'silkscreen_expandedbold';
    src: url('fonts/slkscreb-webfont.woff2') format('woff2'),
         url('fonts/slkscreb-webfont.woff') format('woff'),
         url('fonts/slkscreb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wendyregular';
    src: url('fonts/wendy-webfont.woff2') format('woff2'),
         url('fonts/wendy-webfont.woff') format('woff'),
         url('fonts/wendy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {}
body {
	background: url('bgd.png');
	background-size:100%;
	font-family: silkscreennormal, sans-serif;
}
.wrapper {
	width:960px;
	margin:0 auto;
	padding:10px;
	color:#fff;
}

.createNew {
	background: #D4E8F1;
	width:50%;
	margin:0 auto;
	padding:10px;
}
.parallax {
	font-family: silkscreen_expandednormal, sans-serif;
	background-color:#fff;
	padding:10px;
	color:#666;
}

.calendar {margin: 0 auto;color:lightblue;}
.calendar table {
	width:100%;
	border-spacing: 10px;
	border-collapse: separate;
}
.calendar td.calendar-day {
	width:14%;
	height:100px;
	border: solid 5px lightblue;
	vertical-align: top;
	padding: 8px;
	font-size: 20px;
}
.calendar th {
	font-size: 80px;
	text-align: left;
	font-size: 80px;
	text-align: left;
	padding-bottom: 10px;
	border-bottom: solid lightblue 8px;
	letter-spacing: -10px;
	font-family: silkscreennormal, 'wendyregular', sans-serif;
}

.tasks {
	position: fixed;
	bottom: 20px;
	right: 0px;
	background: #fff0ff;
	padding: 10px 50px;
	text-align: center;
	border: solid 3px #ff66ff;
	border-right: 0px;
	-webkit-box-shadow:-10px 13px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: -10px 13px 5px 0px rgba(0,0,0,0.3);
	box-shadow: -10px 13px 5px 0px rgba(0,0,0,0.3);
}

.tasks a {
	color:#ff66ff;
	text-decoration: none;
}
